body{
    background-color: aqua;
    background-position: 0cap;
    text-align: center;
    text-decoration: solid;
    text-shadow: 0cap;
    text-wrap: round;
    font-variant-position: initial;
    @media Screen and  (min-width:320px){
        body{
            background-color: green;
        }
       }
       @media Screen and (min-width:768px) and (max-width:1024px){
        body{
            background-color: blue;
        }
       }
       @media Screen and (min-width:1224px){
        body{
            background-color: pink;
        }
       }
       @media Screen and (min-width:1824px){
        body{
            background-color: rgb(102, 20, 33);
        }
   }
}